.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  fill: none;
  stroke-width: 2px;
}
.cls-1 {
  stroke: #95bed7;
}
.cls-2 {
  stroke: #8fa3bb;
}
.cls-3 {
  stroke: #246293;
}
.cls-4 {
  stroke: #c2d898;
}
.cls-5 {
  stroke: #918f90;
}
.cls-6 {
  fill: #1e4677;
}
.cls-7 {
  fill: #2a7daf;
}
.cls-8 {
  fill: #84b131;
}
.cls-9 {
  fill: #231f20;
}
.cls-10 {
  fill: #fff;
}
